name: Android App Automation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: |
            # Wait for the emulator to be ready
            adb -s emulator-5554 wait-for-device
            adb -s emulator-5554 shell getprop sys.boot_completed
            echo "Emulator started and boot completed!"

      - name: Check Emulator Status
        run: |
          # Check the emulator's status to verify it's running
          adb -s emulator-5554 shell getprop sys.boot_completed
          adb -s emulator-5554 shell getprop dev.bootcomplete
          adb -s emulator-5554 shell input keyevent 82  # Unlock screen if it's locked