name: Android App Automation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: |
            # Wait for the emulator to be ready
            retries=10
            while [ $retries -gt 0 ]; do
              adb -s emulator-5554 shell getprop sys.boot_completed
              if [ $? -eq 0 ]; then
                echo "Emulator is ready"
                break
              fi
              echo "Waiting for emulator to be ready..."
              sleep 5
              retries=$((retries-1))
            done

            if [ $retries -eq 0 ]; then
              echo "Emulator failed to start in time."
              exit 1
            fi

      - name: Check Emulator Status
        run: |
          # Check if emulator is still running
          adb -s emulator-5554 shell getprop sys.boot_completed
          adb -s emulator-5554 shell input keyevent 82  # Unlock screen if it's locked