name: Android App Automation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

    # Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for pull requests or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

# workflow permissions
permissions:
  checks: write
  contents: write
  issues: write
  pull-requests: write

# workflow environment variables
env:
  FORCE_COLOR: 1
  SHA: ${{ github.event.pull_request.head.sha }}
  LOCAL_APP: ./apk/bstack.apk

jobs:
  test:
    name: app test
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
    # - name: Checkout testing repo
    #   uses: actions/checkout@v4

    # - name: Use desired version of NodeJS
    #   uses: actions/setup-node@v4
    #   with:
    #       node-version: 20
    #       cache: npm

    # - name: Install Dependencies
    #   run: |
    #     npm ci || npm i

    - name: Enable KVM
      run: |
        echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
        sudo udevadm control --reload-rules
        sudo udevadm trigger --name-match=kvm

    - name: Run Android Emulator
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 36  # Android 14
        target: google_apis  # Google APIs usually have latest
        # arch: x86_64  # 64-bit is more common for newer APIs
        channel: stable  # Start with stable
        # api-level: 29
        force-avd-creation: true
        emulator-options: "-no-window -no-audio -no-snapshot -no-metrics" # Options for headless emulator
        disable-spellchecker: true
        avd-name: "Pixel_4_API_36"
        script: |
          echo "Available API levels listed above"
          echo "Emulator started and boot completed!"
        # npx wdio run wdio.conf.js

# ['api-level', 'system-image-api-level', 
# 'target', 'arch', 'profile', 'cores', 
# 'ram-size', 'heap-size', 'sdcard-path-or-size', 
# 'disk-size', 'avd-name', 'force-avd-creation', 
# 'emulator-boot-timeout', 'emulator-port', 
# 'emulator-options', 'disable-animations', 
# 'disable-spellchecker', 'disable-linux-hw-accel', 
# 'enable-hw-keyboard', 'emulator-build', 'working-directory',
#  'ndk', 'cmake', 'channel', 'script', 'pre-emulator-launch-script']
