name: Android App Automation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

    # Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for pull requests or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

# workflow permissions
permissions:
  checks: write
  contents: write
  issues: write
  pull-requests: write

# workflow environment variables
env:
  FORCE_COLOR: 1
  SHA: ${{ github.event.pull_request.head.sha }}
  LOCAL_APP: ./apk/bstack.apk
  SENDGRID_FROM: ${{secrets.SENDGRID_FROM}}
  SENDGRID_HOST: ${{secrets.SENDGRID_HOST}}
  SENDGRID_PORT: ${{secrets.SENDGRID_PORT}}
  SENDGRID_USER: ${{secrets.SENDGRID_USER}}
  SENDGRID_PASS: ${{secrets.SENDGRID_PASS}}

jobs:
  test:
    name: app test
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout testing repo
        uses: actions/checkout@v4

      - name: Use desired version of NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install Dependencies
        run: |
          npm ci || npm i

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      # - name: Run Android Emulator
      #   uses: reactivecircus/android-emulator-runner@v2
      #   with:
      #     api-level: 34
      #     target: google_apis
      #     arch: x86_64
      #     channel: stable
      #     force-avd-creation: true
      #     emulator-options: "-no-window -gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim -no-metrics"
      #     disable-spellchecker: true
      #     ram-size: 2048M
      #     disk-size: 2048M
      #     avd-name: "Pixel_4_API_34"
      #     script: |
      #       echo "Emulator started and boot completed!"
      #       npx wdio run wdio.conf.js

      # - name: AVD cache
      #   uses: actions/cache@v4
      #   id: avd-cache
      #   with:
      #     path: |
      #       ~/.android/avd/*
      #       ~/.android/adb*
      #     key: avd-cache-34

      # - name: create AVD and generate snapshot for caching
      #   if: steps.avd-cache.outputs.cache-hit != 'true'
      #   uses: reactivecircus/android-emulator-runner@v2
      #   with:
      #     api-level: 34
      #     target: google_apis
      #     arch: x86_64
      #     channel: stable
      #     avd-name: test-avd-34
      #     profile: pixel_4
      #     ram-size: 2048M
      #     heap-size: 512M
      #     disk-size: 2048M
      #     force-avd-creation: false
      #     disable-animations: false
      #     emulator-options: -no-snapshot -no-window -noaudio -no-boot-anim -gpu swiftshader_indirect -camera-back none -camera-front none -no-passive-gps -no-snapstorage
      #     script: echo "Generated AVD snapshot for caching."

      - name: run tests
        id: emu
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          # target: google_apis
          # arch: x86_64
          # channel: stable
          # avd-name: test-avd-34
          # profile: pixel_4
          # ram-size: 2048M
          # heap-size: 512M
          # disk-size: 2048M
          force-avd-creation: true
          # force-avd-creation: false
          # disable-animations: true
          # disable-spellchecker: true
          # emulator-options: -no-snapshot-save -no-window -noaudio -no-boot-anim -gpu swiftshader_indirect -camera-back none -camera-front none -no-passive-gps -no-snapstorage -no-metrics
          emulator-options: -no-snapshot -no-window -noaudio -no-boot-anim -gpu swiftshader_indirect -no-metrics
          script: |
            echo "Emulator started and boot completed!" && set +e && npx wdio run wdio.conf.js; EXIT_CODE=$?; set -e; echo "wdio_exit_code=$EXIT_CODE" >> $GITHUB_OUTPUT; echo "WebdriverIO tests completed with exit code: $EXIT_CODE"; exit $EXIT_CODE

          # echo "Emulator started and boot completed!"
          # set +e
          # npx wdio run wdio.conf.js
          # EXIT_CODE=$?
          # set -e
          # echo "wdio_exit_code=$EXIT_CODE" >> $GITHUB_OUTPUT
          # echo "WebdriverIO tests completed with exit code: $EXIT_CODE"
          # exit $EXIT_CODE

      - name: Check WDIO result
        if: always()
        run: |
          echo "WDIO exit code: ${{ steps.emu.outputs.wdio_exit_code}}"
          echo "WDIO exit code: ${{ steps.emu.outcome }}"

      - name: Send Email
        if: failure() && steps.emu.outcome == 'failure' && steps.emu.outputs.wdio_exit_code == ''
        run: |
          node ./utils/sendAcionfailMail.js


      # - name: Handle emulator failure
      #   if: failure() && steps.emu.outcome == 'failure' && steps.emu.outputs.wdio_exit_code == ''
      #   run: |
      #     echo "Step failed due to emulator issues (not test failures)"

      # - name: Handle emulator failure
      #   if: failure() && steps.emu.outcome == 'failure' && steps.emu.outputs.wdio_exit_code == '1'
      #   run: |
      #     echo "test failed(not test failures)"
